@keyframes slideDown {
    from {
        transform: translateY(-15%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideDownTwo {
    from {
        transform: translateY(-6%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.animateParagraph {
    animation: slideDown 0.8s ease forwards;
    visibility: hidden;
}

.animateTwo {
    animation: slideDownTwo 0.8s ease forwards;
    visibility: hidden;
    animation-delay: 0.1s;
}

.icon {
    font-size: 5rem;
    padding: 1rem;
    &.html { color: #e34f26; }
    &.css { color: #1572B6; }
    &.javascript { color: #F0DB4F; }
    &.react { color: #61DAFB; }
    &.node { color: #68A063; }
    &.mongodb { color: #4FAA41; }
    &.python { color: #3776AB; }
    &.express { color: #000; }
}