// home.module.scss
@keyframes slideDown {
    from {
        transform: translateY(-15%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animateGroup {
    animation: slideDown 0.8s ease forwards;
}

.animateParagraph {
    animation: slideDown 0.8s ease forwards;
    animation-delay: 0.2s;
}
