@keyframes slideDown {
    from {
        transform: translateY(-15%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideDownTwo {
    from {
        transform: translateY(-6%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.animateParagraph {
    animation: slideDown 0.8s ease forwards;
    visibility: hidden;
}

.animateTwo {
    animation: slideDownTwo 0.8s ease forwards;
    visibility: hidden;
    animation-delay: 0.1s;
}

.shedHoverEffect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 10px #00056B;
    }
}

.shedImageContainer {
    position: relative;
    display: inline-block;

    img:first-child {
        display: block;
        max-width: 100%;
        border-radius: 2rem;
    }

    &:hover .websiteIcon {
        top: -10px;
        opacity: 1;
        transform: translateY(-10%);
    }
}

.websiteIcon {
    position: absolute;
    height: 10px;
    top: 0%;
    right: 45%;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    width: 60px;
    height: auto;
}

.icon {
    font-size: 5rem;
    padding: 1rem;
    &.html { color: #e34f26; }
    &.css { color: #1572B6; }
    &.javascript { color: #F0DB4F; }
    &.react { color: #61DAFB; }
    &.node { color: #68A063; }
    &.mongodb { color: #4FAA41; }
    &.python { color: #3776AB; }
    &.express { color: #000; }
}
