@keyframes slideDown {
    from {
        transform: translateY(-15%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.animateGroup {
    animation: slideDown 0.8s ease forwards;
    visibility: hidden; /* Initially hide the element */
}

.animateParagraph {
    animation: slideDown 0.8s ease forwards;
    animation-delay: 0.2s;
    visibility: hidden; /* Initially hide the element */
}
