.highlight {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  transition: transform 0.4s ease-out;
  opacity: 0; // Adjust as needed to initially hide or show the highlight
}
